[Unit]
Description=kaginawa

[Service]
Type=simple
ExecStart=/usr/local/bin/kaginawa -c /etc/kaginawa.json
Restart=always
User=kaginawa

[Install]
WantedBy=multi-user.target
