[Unit]
Description=kaginawa
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/kaginawa/kaginawa -c /opt/kaginawa/kaginawa.json
Restart=always
User=kaginawa

[Install]
WantedBy=multi-user.target
